.news__right_panel {
  display: flex;
  flex-direction: column;

  &__title {
    color: rgba(#000, $alpha: 0.6);
  }
  .elemento {
    margin-bottom: 20px;
  }

  .news__left__MainInfo-secciones-textos-suggest {
    padding: 5px 2px;
    display: flex;

    a {
      text-decoration: none;
      color: black;
    }
    .ele {
      margin-bottom: 5px;
    }
  }
}
