.TopBar {
  padding: 30px;
  .ui.grid {
    margin: 0;
    padding: 0;
    .column {
      padding: 0;
    }
  }

  &__right {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;

    &__menu {
      display: flex;
      align-items: flex-start !important;
      border-bottom-style: solid;
      border-width: 1px;
      border-color: rgba(#000, 0.1);
      a,
      p,
      .ui.button {
        font-weight: bold;
        margin-right: 7px;
        font-size: 15px;
        height: 30px;
        text-align: left;
        color: black;
      }

      .ui.button {
        background-color: transparent;
        text-align: center;
        padding: 8px 8px;
      }
    }
  }

  &__left {
    display: flex !important;
    align-items: center;

    &__menu__dates {
      display: flex;
      justify-content: space-between;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 14px;
    }

    &__menu__social {
      display: flex;
      font-weight: bold;
      a {
        margin-right: 13px;
        color: black;
      }

      i {
        margin-right: 20px;
        font-size: 25px;
        right: -50px !important;
      }
    }
  }

  &__center {
    justify-content: center;

    img {
      margin: 20px auto;
      height: 60px;
      transition: all 0.5s;

      &:hover {
        transform: translateY(-10px);
        //transform: translateZ(15px);
      }
    }
  }
}
